<header class="cf pa4 mb5" role="banner">
  <div class="fl">
    <h1 class="ttu f4 ma0 lh-solid dib">
      <%= link_to "<span class='emoji'>☕</span> Fresh Pots".html_safe, root_url, class: "link dim black-80" %>
    </h1>
  </div>
</header>
