/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-menu-dots-2:before {
  content: "\ea04";
}

.nc-icon.nc-alert-circle-i-2:before {
  content: "\ea07";
}

.nc-icon.nc-support-17-2:before {
  content: "\ea08";
}

.nc-icon.nc-logo-github:before {
  content: "\ea09";
}

.nc-icon.nc-drop-2:before {
  content: "\ea0e";
}

.nc-icon.nc-drop-3:before {
  content: "\ea0f";
}

.nc-icon.nc-treasure-map-21-2:before {
  content: "\ea10";
}

.nc-icon.nc-treasure-map-21:before {
  content: "\ea11";
}

.nc-icon.nc-circle-bold-delete:before {
  content: "\ea12";
}

.nc-icon.nc-bold-down:before {
  content: "\ea13";
}

