// Typography
.aa {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.display {
  font-family: $display;
  letter-spacing: 2px;
}

// Layout
.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.bottom-5 {
  bottom: 5rem;
}

// Theming
.box {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.tshadow {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
