// Colors
$cold: #1d7db9;
$hot: #fd4757;
$tan: rgb(241, 234, 223);
$yellow: #f9f18d;

// Fonts
$sans-serif: "Inter UI", -apple-system, BlinkMacSystemFont, "Roboto",
  "Helvetica Neue", "Arial", sans-serif;
$display: "Montserrat", $sans-serif;
