<% if flash.any? %>
  <% flash.each do |key, value| -%>
    <div
      data-component="toast"
      data-type="<%= flash_key_to_toast_type(key) %>"
      data-text="<%= value %>"
    ></div>
  <% end -%>
<% end %>
