<footer
  class="aa white-60 ttu tracked flex items-center pa3 pa4-ns pv5-l"
  role="contentinfo">
  <a class="link dim mr3 white-60" href="#">
    <i class="nc-icon nc-support-17-2 v-mid mr1"></i>
    What is this?
  </a>
  <a class="link dim mr3 white-60" href="#">
      <i class="nc-icon nc-alert-circle-i-2 v-mid mr1"></i>
    Help
  </a>
  <div class="flex-1">
    <a class="fr link dim white-60" href="https://github.com/ngscheurich/fresh_pots">
      <i class="nc-icon nc-logo-github v-mid mr1"></i>
      Source
    </a>
  </div>
</footer>
