<footer
  class="mw9-l center aa white-60 ttu tracked flex items-center ph3 pv4 ph4-ns pv5-ns mb6 mb0-ns"
  role="contentinfo">
  <a class="f6 f5-ns link dim mr3 white-60" href="/what">
    <i class="nc-icon nc-support-17-2 v-mid mr1"></i>
    What is this?
  </a>
  <a
    class="f6 f5-ns link dim mr3 white-60"
    href="mailto:ngscheurich@gmail.com?subject=Fresh Pots help"
  >
    <i class="nc-icon nc-alert-circle-i-2 v-mid mr1"></i>
    Help
  </a>
  <div class="flex-1">
    <a class="fr f6 f5-ns link dim white-60" href="https://github.com/ngscheurich/fresh_pots">
      <i class="nc-icon nc-logo-github v-mid mr1"></i>
      Source
    </a>
  </div>
</footer>
