<footer
  class="aa bg-black-90 white-70 h3 w-100 absolute left-0 bottom-0 flex items-center ph4"
  role="contentinfo">
  <a class="link dim mr3">What is this?</a>
  <a class="link dim">Help</a>
  <div class="flex-1">
    <a class="fr link dim white-70" href="https://github.com/ngscheurich/fresh_pots">
      <img class="v-mid mr2 o-70" src="/assets/icons/github.svg" alt="GitHub icon" />
      Source
    </a>
  </div>
</footer>
