<footer
  class="aa white-70 h3 flex items-center ph3 ph4-ns"
  role="contentinfo">
  <a class="link dim mr3" style="line-height:: 18px;">
    <img class="v-mid mr1 o-70" src="/assets/icons/what.svg" style="height: 18px;" alt="Question mark icon" />
    What is this?
  </a>
  <a class="link dim mr3" style="line-height:: 18px;">
    <img class="v-mid mr1 o-70" src="/assets/icons/help.svg" style="height: 18px;" alt="Life preserver icon" />
    Help
  </a>
  <div class="flex-1">
    <a class="fr link dim white-70" href="https://github.com/ngscheurich/fresh_pots" style="line-height: 18px;">
      <img class="v-mid mr2 o-70" src="/assets/icons/github.svg" style="height: 18px;" alt="GitHub icon" />
      Source
    </a>
  </div>
</footer>
