<div class="pattern-1">
  <header class="cf pa3 pa4-l flex items-center bg-white-60" role="banner">
    <h1 class="ttu f5 f4-ns ma0 lh-solid dib">
      <%= link_to "<span class='emoji emoji--big'>☕</span>Fresh Pots".html_safe,
        root_url, class: "link dim black-80" %>
    </h1>

    <% if signed_in? %>
      <div class="flex-1">
        <div class="fr">
          <div id="user-menu"></div>
        </div>
      </div>
    <% end %>
  </header>
</div>
