<div class="dn flex-m db-l justify-between items-start w-30-l">
  <div class="pr4">
    <h1
      class="whats-fresh aa fw9 f2 f1-m f-subheadline-l mt0 mb2 display lh-solid"
    >
      What’s fresh?
    </h1>
    <p class="f4 f3-ns fw3 black-50 mt3 mb3 mb5-l">
      @ <span data-component="current-time"></span>
    </p>
  </div>

  <%= link_to "Start a brew", new_brew_url,
      class: "aa db dib-ns fr-m fl-l f5 f4-l tc ph4 pv3 ttu br2 link btn" %>
</div>

<div class="w-two-thirds-l flex-ns justify-center items-center">
  <div data-component="brew-list" style="flex-grow: 1"></div>
</div>
