<div class="w-100 w-50-m w-25-l mt1 mt0-ns bt bn-ns b--black-05 bw3 pt4 pt0-ns tc tl-ns">
  <div class="flex flex-wrap db-ns bl-ns b--black-05 bw3 pl4-ns">
    <div class="w-50 w-100-ns mb4">
      <h2 class="f6 f5-ns fw7 ttu tracked mt0 mb1">Most used pot</h2>
      <span class="f5 f4-ns black-50"><%= @most_used_pot.name %></span>
    </div>

    <div class="w-50 w-100-ns mb4">
      <h2 class="f6 f5-ns fw7 ttu tracked mt0 mb1">Most brewed variety</h2>
      <span class="f5 f4-ns black-50"><%= @most_brewed_variety.name %></span>
    </div>

    <div class="w-50 w-100-ns mb4-ns">
      <h2 class="f6 f5-ns fw7 ttu tracked mt0 mb1">Brews of all time</h2>
      <span class="f5 f4-ns black-50"><%= Brew.count %></span>
    </div>

    <div class="w-50 w-100-ns">
      <h2 class="f6 f5-ns fw7 ttu tracked mt0 mb1">Brews this week</h2>
      <span class="f5 f4-ns black-50"><%= @brews_this_week %></span>
    </div>
  </div>
</div>
