<div class="w-50">
  <h2 class="f5 f4-l fw4 black-50 ttu tracked mt0 mb4">Most popular brew times</h2>
  <div
    data-component="brew-times-chart"
    data-chart-data='<%= @brews_by_time %>'
    ></div>
</div>

<div class="w-25">
  <div class="relative">
    <div
      class="mb4"
      data-component="brew-doughnut-chart"
      data-chart-data='<%= @brews_by_variety %>'
      >
    </div>
    <i class="nc-icon black-40 nc-treasure-map-21-2 f2 absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
  </div>

  <div class="relative">
    <div
      data-component="brew-doughnut-chart"
      data-chart-data='<%= @brews_by_pot %>'
      >
    </div>
    <i class="nc-icon black-40 nc-drop-3 f2 absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
  </div>
</div>
