<div class="ph3 pt4 ph4-ns pv5-m pv6-l mw9-l center">
  <h1 class="aa mt0 mb4 mb5-ns f3 f2-ns display tc">Top brewers</h1>
  <div class="db flex-ns justify-center items-center">
    <% @top_brewers.each do |user| %>
      <div class="ph4 tc pb4 pb0-ns">
        <img src="<%= user.avatar.url(:thumb) %>" class="w3 w4-ns db mb3 br-100 center" />
        <%= link_to user.full_name, user_path(user), class: "f6 f5-ns link dim ttu tracked fw7 white-80 db mb2" %>
        <div class="f6 f5-ns white-60 ttu">
          <% count = user.brews_count %>
          <%= count %> brew<%= "s" if count !== 1 %>
        </div>
      </div>
    <% end %>
  </div>
</div>
