<section class="pattern-1">
  <div class="flex-l justify-between relative ph3 pt4 pb3 ph4-ns pv5-m pv6-l mw9-l center">
    <%= render partial: "brews" %>
  </div>
</section>

<div class="bg-white">
  <div class="flex-ns flex-wrap justify-between items-center relative ph3 pv4 ph4-ns pv5-m pv6-l mw9-l center">
    <%= render partial: "stats" %>
    <%= render partial: "high_scores" %>
  </div>
</div>
