<div class="bg-white">
  <div class="ph3 ph4-ns pb1 pt6 mw9-l center">
    <div class="f5 f3-ns tc">
      <h1 class="display mt0 mb5">Always know where the fresh coffee’s at</h1>
    </div>
    <div class="center measure-narrow tc">
      <%= link_to  "Sign up", signup_url,
        class: "aa db f5 f4-l tc ph4 pv3 ttu br2 link btn mb3" %>
      or <%= link_to  "Log in", login_url, class: "f5 f4-l ttu link dim black-80 fw7" %>
    </div>
  </div>
</div>
