<div class="bg-white">
  <div class="pa3 pb1 ph4-ns pv5-m pv6-l mw9-l center">
    <div class="f3 tc">
      <h1 class="display mt0 mb5">Always know where<br /> the fresh coffee’s at</h1>
    </div>
    <div class="center measure-narrow tc">
      <%= link_to  "Sign up", signup_url,
        class: "aa db f5 f4-l tc ph4 pv3 ttu br2 link btn mb3" %>
      or <%= link_to  "Log in", login_url, class: "f5 f4-l ttu link dim black-80 fw7 tracked" %>
    </div>
  </div>
</div>
