<div class="ph4">
  <h1 class="tc f1 mb2">What’s fresh</h1>
  <p class="tc f3 fw3 white-60 mt0 mb5">
    @ <span id="current-time"></span>
  </p>

  <div id="brew-list" class="mw8 center"></div>
</div>
