<div class="flex-l justify-between pv4 pv5-l ph3 mw9 center">
  <div class="fx-1 pr5-l">
    <h1 class="f1 f-subheadline-l mt0 mb2 display">What’s fresh</h1>
    <p class="f3 fw3 black-60 mt0 mb5 mb5-l">
      @ <span id="current-time"></span>
    </p>
    <a class="aa db tc ph2 pv3 fw3 ttu link dim br2 f4 bigbtn" href="#">Log a Brew</a>
  </div>

  <div class="fx-4">
    <div id="brew-list"></div>
  </div>
</div>
