<div class="bg-white">
  <section class="ph3 ph4-ns pv5 mw9-l center">
    <div class="measure">
      <h1>What is this?</h1>

      <p class="lh-copy">
        There are a lot of coffee pots where I work, in different locations
        spread across multiple floors and buildings. It’s no fun to venture
        out to your nearby coffee station only to be greeted by a stale, tepid
        brew. Furthermore, it seems wasteful to make a fresh pot only to have
        its contents languish away because no one but you is aware of it.
      </p>

      <p class="lh-copy">
        Fresh Pots is a web application that helps to keep teams <em>au courant</em>
        with their coffee situation by allowing coffee drinkers to easily log when
        and where they start a brew and to quickly scan the freshness of available pots.
      </p>

      <h1>What’s the deal with the name?</h1>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/fhdCslFcKFU"
        frameborder="0"
        gesture="media"
        allow="encrypted-media"
        allowfullscreen
      ></iframe>
    </div>
  </section>
</div>
